.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;

}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  width: 100%;
}

.create-btn {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: 20px;
}
.outer-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}
.initial-info {
  justify-content: center;
  align-items: center;
}
